h1{
  text-align: center;
 margin: 0;
}

body{
  background-color: #cccccc;
  margin: 0;
}

.heading{
  position: relative;
  left:0;
  top:0;
  color: #034f84;
  display: block;
  font-size: 50px;
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: #deeaee;
  border-bottom: 4px solid grey;
}

#switch-data{
  margin-top: 10px;
}

.data-heading{
  width: 100%;
  text-align: center;
}

.control-panel{
  text-align: center;
  background-color: #5e76a0;
  padding-bottom: 20px;
}

.sidebar{
  position: fixed;
  top:64px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: scroll;
}


li{
  text-align: center;
  border-bottom: solid;
  border-color: #f0efef;
  background-color:  white;
}

body > div.content{
  position: relative;
  left: 0;
  width: 100%;
  overflow: scroll;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  overflow: scroll;
}

.welcome-modal{
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  overflow: scroll;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Tooltip */
#tooltip {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 50px;
    padding: 2px;
    font: 13px sans-serif;
    background: white;
    border: 0px;
    opacity: 1;
    border-radius: 8px;
    pointer-events: none;
    border-style: solid;
    border-color: black;
}

.modal-content>h2{
  text-align: center;
}
